{% extends "base.html.twig" %}
{% block body %}
    <h1>Ajout de la catégorie :</h1>
    <form method="post">
        <div>Libellé :</div>
        <input type="text" name="libelle"><br>
        <div>Icône :</div>
        <input type="text" name="icone"><br>
        <input type="submit" value="Enregistrer les modifications">
    </form>
{% endblock %}