{% extends "base.html.twig" %}

{% block body %}
    <h1>Modification de la categorie "{{ categorie.libelle }}"</h1>
    <form method="post">


        {# Categorie #}
        <select name="Categorie">
            <span class="fas fa-history"></span>" <option >Thriller</option>
            <option >Actualité</option>
            <option >Histoire</option>
            <option>Science</option>
            <option >People</option>

        </select>
        <input type="submit" value="Enregistrer les modifications">
    </form>

{% endblock %}